/* You can add global styles to this file, and also import other style files */
@import "~@angular/material/prebuilt-themes/purple-green.css";
@import 'https://fonts.googleapis.com/icon?family=Material+Icons';

body {
  margin: 0;
}

a {
  text-decoration: none;
  color: azure;
}

a:hover,
a:active {
  color: azure;
}
