<agm-map [latitude]="lat" [longitude]="lng" [zoom]="10">
    <agm-marker [latitude]="lat" [longitude]="lng"></agm-marker>
    <agm-marker *ngFor="let store of stores" [latitude]="store.latitude" [longitude]="store.longitude"
        [iconUrl]="{ url: 'assets/store-'+store.level+'.svg', scaledSize: { width: 32, height: 32 }}">
        <agm-info-window>
            <p><a [routerLink]="['/inventory', store.store]" class="marker-info">{{store.storeDescription}}</a></p>
        </agm-info-window>
    </agm-marker>
</agm-map>