<div class="main-panel">
	<form (ngSubmit)="search(0,50)" class="search-panel">
		<div class="search-bar">
			<mat-form-field hintLabel="Enter a RediSearch query" class="query">
				<input matInput placeholder="Search" [formControl]="searchField">
				<button *ngIf="searchField.value" mat-button matSuffix mat-icon-button type="button" aria-label="Clear"
					(click)="searchField.setValue('')">
					<mat-icon>close</mat-icon>
				</button>
			</mat-form-field>
			<button mat-flat-button type="submit" class="submit">
				<mat-icon>search</mat-icon>
			</button>
			<mat-button-toggle type="button" (click)="toggleFilters()" class="filter-button">
				<mat-icon>filter_list</mat-icon>
			</mat-button-toggle>
		</div>
		<div *ngIf="showFilters" class="filter-panel" fxLayoutGap="10px">
			<div class="category-panel">
				<mat-form-field>
					<mat-label>Category</mat-label>
					<mat-select [formControl]="categoryField">
						<mat-option *ngFor="let category of categories" [value]="category.id">{{category.name}}
						</mat-option>
					</mat-select>
				</mat-form-field>
				<mat-form-field>
					<mat-label>Style</mat-label>
					<mat-select [formControl]="styleField">
						<mat-option *ngFor="let style of styles" [value]="style.id">{{style.name}}</mat-option>
					</mat-select>
				</mat-form-field>
			</div>
			<div class="abv-panel">
				<mat-form-field>
					<mat-label>ABV</mat-label>
					<mat-select [formControl]="abvField">
						<mat-option value="0-3">0 - 3%</mat-option>
						<mat-option value="3-5">3 - 5%</mat-option>
						<mat-option value="5-7">5 - 7%</mat-option>
						<mat-option value="7-9">7 - 9%</mat-option>
						<mat-option value="9-11">9 - 11%</mat-option>
						<mat-option value="11-15">11 - 15%</mat-option>
						<mat-option value="15-100">> 15%</mat-option>
					</mat-select>
				</mat-form-field>
				<mat-form-field>
					<mat-label>IBU</mat-label>
					<mat-select [formControl]="ibuField">
						<mat-option value="0-30">0 - 30</mat-option>
						<mat-option value="30-60">30 - 60</mat-option>
						<mat-option value="60-90">60 - 90</mat-option>
						<mat-option value="90-120">90 - 120</mat-option>
						<mat-option value="120-inf">> 120</mat-option>
					</mat-select>
				</mat-form-field>
			</div>
			<div class="brewery-panel">
				<mat-form-field hintLabel="Type a few characters">
					<input matInput placeholder="Brewery" aria-label="Brewery" [matAutocomplete]="autoBrewery"
						[formControl]="breweryField">
					<mat-autocomplete #autoBrewery="matAutocomplete" [displayWith]="displayBrewery"
						(optionSelected)='brewerySelected($event.option.value)'>
						<mat-option *ngFor="let brewery of breweries" [value]="brewery">
							<img class="brewery-img" aria-hidden [src]="brewery.icon" height="25">
							<span>{{brewery.name}}</span>
						</mat-option>
					</mat-autocomplete>
				</mat-form-field>
				<mat-form-field hintLabel="Type a few characters">
					<input matInput placeholder="Food pairing" aria-label="Food" [matAutocomplete]="autoFood"
						[formControl]="foodField">
					<mat-autocomplete #autoFood="matAutocomplete" [displayWith]="displayFood"
						(optionSelected)='foodSelected($event.option.value)'>
						<mat-option *ngFor="let food of foods" [value]="food">
							<span>{{food}}</span>
						</mat-option>
					</mat-autocomplete>
				</mat-form-field>
			</div>
			<div class="sort-panel">
				<mat-form-field>
					<mat-label>Sort by</mat-label>
					<mat-select [(value)]="sortByField">
						<mat-option value="name">Beer Name</mat-option>
						<mat-option value="abv">ABV</mat-option>
						<mat-option value="ibu">IBU</mat-option>
					</mat-select>
				</mat-form-field>
				<mat-form-field>
					<mat-select [(value)]="sortByDirection">
						<mat-option value="ASC">Ascending</mat-option>
						<mat-option value="DESC">Descending</mat-option>
					</mat-select>
				</mat-form-field>
			</div>
		</div>
	</form>

	<div *ngIf="showResults" class="results-panel">

		<div fxLayout="row" class="paginator">
			<mat-paginator [length]="resultCount" [pageIndex]="pageIndex" [pageSize]="pageSize"
				[pageSizeOptions]="[10, 50, 100]" (page)="handlePage($event)">
			</mat-paginator>
			<div class="mat-paginator">
				<div class="mat-paginator-outer-container">
					<div class="mat-paginator-container">
						<div class="duration">{{searchDuration | number}} seconds</div>
					</div>
				</div>
			</div>
		</div>
		<div *ngIf="result$ | async as results" fxLayout.xs="column" fxLayout="row wrap" fxLayoutGap="10px"
			ngClass.gt-xs="ml-10">
			<mat-card *ngFor="let product of results.results" fxFlex.sm="0 1 calc(50%-10px)"
				fxFlex.md="0 1 calc(33%-10px)" fxFlex.gt-md="0 1 calc(20%-10px)">
				<mat-card-title [innerHTML]="product.name"></mat-card-title>
				<mat-card-subtitle>
					<span [innerHTML]="product.breweryName"></span>
					<span> • </span>
					<span>{{product.abv ? product.abv : '?'}}%</span>
					<span> • </span>
					<span>IBU: {{product.ibu ? product.ibu : '?'}}</span>
				</mat-card-subtitle>
				<img mat-card-image
					src="{{ product.hasOwnProperty('labels.medium') ? product['labels.medium'] : 'assets/brewdis.svg' }}"
					class="image">
				<mat-card-actions>
					<button mat-button (click)="openDescriptionDialog(product)" color="basic">Details</button>
					<button mat-button [routerLink]="['/availability', product.sku]"
						color="primary">Availability</button>
				</mat-card-actions>
			</mat-card>
		</div>
	</div>
</div>
