.search-form {
	display: flex;
	justify-content: stretch;
}

.submit {
	height: 3em;
}

.brewery-img {
	vertical-align: middle;
	margin-right: 8px;
}

.paginator {
	justify-content: space-between;
}

mat-card {
	margin-bottom: 10px;
}

.mat-card-actions {
	justify-content: space-between;
}

.mr-10 {
	margin-right: 10px;
}

.ml-10 {
	margin-left: 10px;
}