table {
	margin-left: auto;
	margin-right: auto;
	width: 100%;
}

::ng-deep .mat-sort-header-container {
  display:flex;
  justify-content:center;
}

table td {
	vertical-align: middle;
	position: relative;
}

table td img {
	width: 50px;
	padding-right: 5px;
	vertical-align: middle;
	display: inline-block;
}

table td p {
	display: inline-block;
	vertical-align: middle
}

.align-center {
	text-align: center;
}

.align-left {
	text-align: left;
}

.atp {
	color: azure;
}

.low {
	background-color: #d32f2f;
}

.medium {
	background-color: #f9a825;
}

.high {
	background-color: #388e3c;
}

.recent {
	/* border: 5px solid #fdd835; */
	background-color: papayawhip;
}