table {
	width: 100%;
}

img {
	width: 30px;
	height: 30px;
}

.centered-cell {
	text-align: center;
}

.negative {
	background-color: #ffa726;
	color: seashell;
}

.negative .mat-cell {
	color: seashell;
}

.positive {
	background-color: royalblue;
}

.positive .mat-cell {
	color: seashell;
}

.low {
	background-color: #e64a19;
}

.low .mat-cell {
	color: seashell;
}