<table mat-table #table [dataSource]="inventory" class="mat-elevation-z8">

	<ng-container matColumnDef="id">
      <th mat-header-cell *matHeaderCellDef>Store:SKU</th>
	  <td mat-cell *matCellDef="let row">{{row.id}}</td>
	</ng-container>

	<ng-container matColumnDef="name">
	  <th mat-header-cell *matHeaderCellDef>Name</th>
	  <td mat-cell *matCellDef="let row" >{{row.name}}</td>
	</ng-container>

	<ng-container matColumnDef="quantity">
	  <th mat-header-cell *matHeaderCellDef>Quantity</th>
	  <td mat-cell *matCellDef="let row" [ngClass]="{
		'positive' : row.delta > 0, 'negative' : row.delta < 0, 'adjust' : row.delta == undefined
		}" style="padding-left: 10px">{{row.quantity}}</td>
	</ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;" ></tr>
    
</table>