<form #searchForm="ngForm" (ngSubmit)="search()" class="search-form">
	<mat-form-field class="category-field">
		<mat-label>Category</mat-label>
		<mat-select [(value)]="selectedCategoryId" [formControl]="categoryField">
			<mat-option *ngFor="let category of categories" [value]="category.id">{{category.name}}</mat-option>
		</mat-select>
	</mat-form-field>
	<mat-form-field class="style-field">
		<mat-label>Style</mat-label>
		<mat-select [(value)]="selectedStyleId" [formControl]="styleField">
			<mat-option *ngFor="let style of styles" [value]="style.id">{{style.name}}</mat-option>
		</mat-select>
	</mat-form-field>
	<mat-form-field class="search-field" hintLabel="Keywords to search for, e.g. hoppy">
		<input matInput placeholder="Query" [formControl]="searchField">
	</mat-form-field>
	<button mat-raised-button color="primary" type="submit">Submit</button>
</form>
<br>

<mat-list class="result-list">
	<mat-list-item *ngFor="let product of results | async" class="result">
		<img matListAvatar class="result-label" src="{{ product.hasOwnProperty('labels.medium') ? product['labels.medium'] : 'assets/brewdis.svg' }}" alt="{{ product.name }}">
		<h3 matLine class="product-name"> {{product.name}} </h3>
		<p matLine>
			<span> {{product['style.name']}} </span>
			<span class="abv"> -- {{product.abv}}% </span>
		</p>
		<p matLine>
			<span> {{ product['description'] }}</span>
		</p>
		<button mat-fab>
			<a href="#/availability?sku={{ product.sku }}">
				<mat-icon>add_shopping_cart</mat-icon>
			</a>
		</button>
	</mat-list-item>
</mat-list>