.search-form {
	display: flex;
	margin: 5px;
	align-items: center;
}

.category-field {
	flex: 18%;
	margin: 1%;
}

.style-field {
	flex: 18%;
	margin: 1%;
}

.search-field {
	flex: 30%;
	margin: 1%;
}

.abv {
	font-style: italic;
}

.result {
	height: 120px !important;
	text-decoration: none;
	border-top: 1px solid #ddd;
}

.result-label {
	width: 100px !important;
	height: 100px !important;
	border-radius: unset !important;
}