.search-form {
	margin: 10px;
}

.submit {
	height: 3em;
}

.brewery-img {
	vertical-align: middle;
	margin-right: 8px;
}

mat-card {
	width: calc(100% - 40px);
	height: calc(100% - 40px);
}

::ng-deep .mat-card-header-text {
	text-overflow: ellipsis;
	overflow: hidden;
	white-space: nowrap;
}

mat-card-content {
	overflow-y: auto;
	height: 240px;
	margin-bottom: 100px;
}

.product-name {
	text-overflow: ellipsis;
	overflow: hidden;
	white-space: nowrap;
}

.product-label {
	margin-top: 0px;
	margin-bottom: 0px;
}

.button-overlay {
	display: inline-block;
	position: absolute;
	right: 10px;
	top: 35px;
}

.add-button {
	margin-right: 5px;
}