<mat-toolbar color="primary">
    <mat-toolbar-row>
        <div>
            <a mat-button [routerLink]="'/catalog'" class="main">
                <img alt="Redis Labs" src="assets/brewdis.svg" class="logo">
                <span class="home">Brewdis</span>
            </a>
        </div>
        <span class="menu-spacer"></span>
        <div>
            <a mat-button [routerLink]="'/catalog'" class="link">
                <mat-icon>search</mat-icon> Products
            </a>
            <a mat-button [routerLink]="'/availability'" class="link">
                <mat-icon>map</mat-icon> Availability
            </a>
            <a mat-button [routerLink]="'/inventory'" class="link">
                <mat-icon>view_comfy</mat-icon> Inventory
            </a>
        </div>
        <div>
            <a mat-button href="https://redislabs.com">
                <img alt="Redis Labs" src="assets/redislabs.svg" class="redislabs">
            </a>
        </div>
    </mat-toolbar-row>
</mat-toolbar>
<router-outlet></router-outlet>