<h2 mat-dialog-title [innerHTML]="product.name"></h2>
<div mat-dialog-content>
    <div class="product-detail">
        <span><strong>ID: </strong></span><span [innerHTML]="product.id"></span>
        <span> • </span>
        <span><strong>Brewery: </strong></span><span [innerHTML]="product.breweryName"></span>
        <span> • </span>
        <span><strong>Category: </strong></span><span [innerHTML]="product.categoryName"></span>
        <span> • </span>
        <span><strong>Style: </strong></span><span [innerHTML]="product.styleName"></span>
    </div>
    <div class="product-detail">
        <span><strong>ABV: </strong></span><span>{{product.abv}}%</span>
        <span> • </span>
        <span><strong>IBU: </strong></span><span> </span><span>{{product.ibu}}</span>
        <span> • </span>
        <span><strong>Organic: </strong></span><span>{{product.isOrganic}}</span>
    </div>
    <div class="product-detail">
        <span><strong>Availability: </strong></span><span>{{product['available.description']}}</span>
    </div>
    <div class="product-detail">
        <span><strong>Serving Temperature: </strong></span><span>{{product.servingTemperatureDisplay}}</span>
    </div>
    <div class="product-detail">
        <span><strong>Food Pairings: </strong></span><span [innerHTML]="product.foodPairings"></span>
    </div>
    <div class="product-detail">
        <span><strong>Description: </strong></span><span [innerHTML]="product.description"></span>
    </div>
</div>