.main-panel {
	margin: 20px;
}

.search-panel {
	display: flex;
	flex-direction: column;
	justify-content: center;
	margin-bottom: 10px;
}

.search-bar {
	display: flex;
	flex-direction: row;
}

.query {
	flex-grow: 1;
}

.submit {
	flex-shrink: 1;
}

.filter-button {
	flex-shrink: 1;
}

.filter-panel {
	display: flex;
	flex-direction: row;
	justify-content: flex-end;
}

.category-panel {
	display: flex;
	flex-direction: column;
	flex-basis: 20%;
}

.abv-panel {
	display: flex;
	flex-direction: column;
}

.brewery-panel {
	display: flex;
	flex-direction: column;
	flex-basis: 30%;
}

.brewery-img {
	vertical-align: middle;
	margin-right: 8px;
}

.sort-panel {
	display: flex;
	flex-direction: column;
}

.results-panel {
	background: #fafafa;
}

.mat-paginator {
	background: #fafafa;
}

mat-card {
	margin-bottom: 10px;
	max-width: 400px;
}

.mat-card-title {
	font-size: .9em;
}

.mat-card-actions {
	justify-content: space-between;
}

.mr-10 {
	margin-right: 10px;
}

.ml-10 {
	margin-left: 10px;
}